<ng-template [ngIf]="icon === 'dashboard'">
  <app-dashboard-icon class="block w-full"></app-dashboard-icon>
</ng-template>

<ng-template [ngIf]="icon === 'doc'">
  <app-doc-icon class="block w-full"></app-doc-icon>
</ng-template>

<ng-template [ngIf]="icon === 'agents'">
  <app-agents-icon class="block w-full"></app-agents-icon>
</ng-template>

<ng-template [ngIf]="icon === 'add-person'">
  <app-add-personn-icon class="block w-full"></app-add-personn-icon>
</ng-template>

<ng-template [ngIf]="icon === 'account'">
  <app-account-icon class="block w-full"></app-account-icon>
</ng-template>

<ng-template [ngIf]="icon === 'bell'">
  <app-bell-icon class="block w-full"></app-bell-icon>
</ng-template>

<ng-template [ngIf]="icon === 'menu'">
  <app-menu-icon class="block w-full"></app-menu-icon>
</ng-template>

<ng-template [ngIf]="icon === 'equipement'">
  <app-equipement-icon class="block w-full"></app-equipement-icon>
</ng-template>

<ng-template [ngIf]="icon === 'file'">
  <app-file-icon class="block w-full"></app-file-icon>
</ng-template>

<ng-template [ngIf]="icon === 'delete'">
  <app-delete-icon class="block w-full"></app-delete-icon>
</ng-template>

<ng-template [ngIf]="icon === 'download'">
  <app-download-icon class="block w-full"></app-download-icon>
</ng-template>

<ng-template [ngIf]="icon === 'info'">
  <app-info-icon class="block w-full"></app-info-icon>
</ng-template>

<ng-template [ngIf]="icon === 'see'">
  <app-see-icon class="block w-full"></app-see-icon>
</ng-template>
