<div
  class="transition-all space-y-2 p-3 duration-300 text-base divide-red-500 divide-y divide-red-400/20 overflow-hidden"
>
  <button
    class="flex flex-row gap-3 text-gray-400 rounded-md items-center w-full px-3 py-2 hover:bg-red-600/50 hover:text-red-500"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 font-bold">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
    </svg>
    <span class="block w-full text-left">
      Deconnexion
    </span>
  </button>

</div>
