<div class="p-3 md:p-5">
  <app-page-header
    page_title="Listes des employes"
    sub_title="Surveiller les mesures, vérifier les rapports et examiner les performances"
  >
    <button class="button-primary">
      <app-svg class="w-5" icon="add-person"></app-svg>
      <span class="hidden sm:block">Ajouter</span>
    </button>
  </app-page-header>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 pt-5">
    <ng-container *ngFor="let item of employes">
      <app-employe-item
        class="border rounded-md overflow-hidden"
        [employe]="item">
      </app-employe-item>
    </ng-container>
  </div>
</div>
