<svg class="w-full" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_14_109" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="4" width="26" height="23">
    <path d="M11.875 20H18.125V25.625H11.875V20Z" stroke="white" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round"/>
    <path
      d="M25.625 5H4.375C3.68464 5 3.125 5.55964 3.125 6.25V18.75C3.125 19.4404 3.68464 20 4.375 20H25.625C26.3154 20 26.875 19.4404 26.875 18.75V6.25C26.875 5.55964 26.3154 5 25.625 5Z"
      fill="white" stroke="white" stroke-width="2"/>
    <path d="M13.75 16.875H16.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8.75 25.625H21.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </mask>
  <g mask="url(#mask0_14_109)">
    <path d="M0 0H30V30H0V0Z" fill="currentColor"/>
  </g>
</svg>
