<div class="p-3 md:p-5">
  <app-page-header
    page_title="Tableau de board analytique"
    sub_title="Surveiller les mesures, vérifier les rapports et examiner les performances"
  ></app-page-header>
  <div class="flex flex-row justify-between items-center gap-5 flex-wrap pt-4">
    <div
      class="z-0 overflow-hidden relative bg-cyan-400/10 border border-cyan-400 rounded-3xl py-3 px-5 shadow-lg shadow-cyan-400/30">
      <div class="text-cyan-500 text-4xl font-bold">10</div>
      <div class="text-lg text-gray-500 font-medium leading-4">Employés</div>
      <div class="text-sm text-gray-500 md:block hidden">Tous les personnels confondu</div>
      <div class="absolute bottom-0 right-0 -z-10">
        <app-svg class="block w-20 text-cyan-500/30" icon="agents"></app-svg>
      </div>
    </div>

    <div
      class="z-0 overflow-hidden relative bg-violet-400/10 border border-violet-400 rounded-3xl py-3 px-5 shadow-lg shadow-violet-400/30">
      <div class="text-violet-500 text-4xl font-bold">23</div>
      <div class="text-lg text-gray-500 font-medium leading-4">Évaluations</div>
      <div class="text-sm text-gray-500 md:block hidden">Tous les evaluations confondu</div>
      <div class="absolute -bottom-3 -right-1 -z-10">
        <app-svg class="block w-20 text-violet-500/30" icon="equipement"></app-svg>
      </div>
    </div>

    <div
      class="z-0 overflow-hidden relative bg-pink-400/10 border border-pink-400 rounded-3xl py-3 px-5 shadow-lg shadow-pink-400/30">
      <div class="text-pink-500 text-4xl font-bold">34</div>
      <div class="text-lg text-gray-500 font-medium leading-4">CV</div>
      <div class="text-sm text-gray-500 md:block hidden">Tous les postes confondu</div>
      <div class="absolute -bottom-2 -right-2 -z-10">
        <app-svg class="block w-20 text-pink-500/30" icon="cv"></app-svg>
      </div>
    </div>

    <div
      class="z-0 overflow-hidden relative bg-orange-400/10 border border-orange-400 rounded-3xl py-3 px-5 shadow-lg shadow-orange-400/30">
      <div class="text-orange-500 text-4xl font-bold">12</div>
      <div class="text-lg text-gray-500 font-medium leading-4">Rapports</div>
      <div class="text-sm text-gray-500 md:block hidden">Tous les enseignements</div>
      <div class="absolute -bottom-2 -right-2 -z-10">
        <app-svg class="block w-20 text-orange-500/30" icon="file"></app-svg>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-8 pt-5">
    <div class="col-span-12 md:col-span-6 bg-white rounded-xl shadow p-3 md:p-5">
      <div class="text-gray-600 text-lg font-semibold">Dernière Evaluations</div>
      <div class="h-5"></div>
      <div class="w-full divide-y">
        <ng-container *ngFor="let item of e_evaluations">
          <app-evaluation-item [evaluation]="item"></app-evaluation-item>
        </ng-container>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 bg-white rounded-xl shadow p-3 md:p-5">
      <div class="flex flex-row justify-between items-center flex-wrap gap-3">
        <div class="text-gray-600 text-lg font-semibold">Performances dans l'ensemble</div>
        <div class="flex flex-row gap-3">
          <button class="flex-none text-sm text-gray-500 bg-gray-100 px-4 py-2 rounded-full">
            Aujourd'hui
          </button>
        </div>
      </div>
      <div class="h-5"></div>
      <div class="w-full divide-y">
<!--        <ng-container *ngFor="let item of programs">-->
<!--          <div class="cursor-pointer flex flex-row gap-3 items-center w-full px-3 py-2 hover:bg-gray-100">-->
<!--            <div class="w-full">-->
<!--              <div class="text-sm text-gray-500">{{item.title}}</div>-->
<!--              <div class="flex flex-row flex-wrap">-->
<!--                <div *ngIf="item.date" class="pl-2 flex-none flex flex-row items-center gap-1 text-gray-400">-->
<!--                  <agyl-svg class="w-3" icon="time"></agyl-svg>-->
<!--                  <div class="text-xs">{{item.date}}</div>-->
<!--                </div>-->
<!--                <div *ngIf="item.place" class="pl-2 flex-none flex flex-row items-center gap-1 text-gray-400">-->
<!--                  <agyl-svg class="w-3" icon="marker_icon"></agyl-svg>-->
<!--                  <div class="text-xs">{{item.place}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <svg class="w-2 text-gray-400" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path-->
<!--                fill-rule="evenodd" clip-rule="evenodd"-->
<!--                d="M5.36835 3.88166C5.53221 4.04572 5.62425 4.26811 5.62425 4.49999C5.62425 4.73186 5.53221 4.95426 5.36835 5.11832L2.06902 8.41882C1.90487 8.58289 1.68227 8.67504 1.45019 8.67498C1.2181 8.67493 0.995545 8.58268 0.831475 8.41853C0.667406 8.25438 0.575263 8.03178 0.575317 7.7997C0.575372 7.56762 0.66762 7.34506 0.831767 7.18099L3.51277 4.49999L0.831767 1.81899C0.672299 1.65404 0.583998 1.43305 0.585883 1.20363C0.587768 0.974204 0.679687 0.754698 0.841843 0.592389C1.004 0.430079 1.22342 0.337953 1.45284 0.335852C1.68226 0.333751 1.90333 0.421843 2.06843 0.581156L5.36893 3.88107L5.36835 3.88166Z"-->
<!--                fill="currentColor"/>-->
<!--            </svg>-->
<!--          </div>-->
<!--        </ng-container>-->
      </div>
    </div>
  </div>
</div>
