<div class="p-3 md:p-5">
  <app-page-header
    page_title="Tableau de board analytique"
    sub_title="Surveiller les mesures, vérifier les rapports et examiner les performances"
  ></app-page-header>
  <div class="flex flex-row justify-between items-center gap-5 flex-wrap pt-4">
    <div
      class="z-0 overflow-hidden relative bg-cyan-400/10 border border-cyan-400 rounded-3xl py-3 px-5 shadow-lg shadow-cyan-400/30">
      <div class="text-cyan-500 text-4xl font-bold">10</div>
      <div class="text-lg text-gray-500 font-medium leading-4">Employés</div>
      <div class="text-sm text-gray-500 md:block hidden">Tous les personnels confondu</div>
      <div class="absolute bottom-0 right-0 -z-10">
        <app-svg class="block w-20 text-cyan-500/30" icon="agents"></app-svg>
      </div>
    </div>

    <div
      class="z-0 overflow-hidden relative bg-violet-400/10 border border-violet-400 rounded-3xl py-3 px-5 shadow-lg shadow-violet-400/30">
      <div class="text-violet-500 text-4xl font-bold">23</div>
      <div class="text-lg text-gray-500 font-medium leading-4">Évaluations</div>
      <div class="text-sm text-gray-500 md:block hidden">Tous les evaluations confondu</div>
      <div class="absolute -bottom-3 -right-1 -z-10">
        <app-svg class="block w-20 text-violet-500/30" icon="equipement"></app-svg>
      </div>
    </div>

    <div
      class="z-0 overflow-hidden relative bg-pink-400/10 border border-pink-400 rounded-3xl py-3 px-5 shadow-lg shadow-pink-400/30">
      <div class="text-pink-500 text-4xl font-bold">34</div>
      <div class="text-lg text-gray-500 font-medium leading-4">CV</div>
      <div class="text-sm text-gray-500 md:block hidden">Tous les postes confondu</div>
      <div class="absolute -bottom-2 -right-2 -z-10">
        <app-svg class="block w-20 text-pink-500/30" icon="cv"></app-svg>
      </div>
    </div>

    <div
      class="z-0 overflow-hidden relative bg-orange-400/10 border border-orange-400 rounded-3xl py-3 px-5 shadow-lg shadow-orange-400/30">
      <div class="text-orange-500 text-4xl font-bold">12</div>
      <div class="text-lg text-gray-500 font-medium leading-4">Rapports</div>
      <div class="text-sm text-gray-500 md:block hidden">Tous les enseignements</div>
      <div class="absolute -bottom-2 -right-2 -z-10">
        <app-svg class="block w-20 text-orange-500/30" icon="file"></app-svg>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-8 pt-5">
    <div class="col-span-12 md:col-span-6 bg-white rounded-xl shadow p-3 md:p-5">
      <div class="text-gray-600 text-lg font-semibold">Dernière Evaluations</div>
      <div class="h-5"></div>
      <div class="w-full divide-y">
        <ng-container *ngFor="let item of e_evaluations">
          <app-evaluation-item [evaluation]="item"></app-evaluation-item>
        </ng-container>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 bg-white rounded-xl shadow p-3 md:p-5">
      <div class="flex flex-row justify-between items-center flex-wrap gap-3">
        <div class="text-gray-600 text-lg font-semibold">Performances dans l'ensemble</div>
        <div class="flex flex-row gap-3">
          <button class="flex-none text-sm text-gray-500 bg-gray-100 px-4 py-2 rounded-full">
            Aujourd'hui
          </button>
        </div>
      </div>
      <div class="h-5"></div>
      <div class="w-full divide-y">

      </div>
    </div>
  </div>
</div>
